<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Registry</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/styles.css">

  {{!-- JQuery Script --}}
  <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"
    integrity="sha256-a2yjHM4jnF9f54xUQakjZGaqYs/V1CYvWpoqZzC2/Bw=" crossorigin="anonymous"></script>

</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <h1>
      Not Another Cookbook
    </h1>
    {{#if session.logged_in}}
    <nav>
      <a href="/"><button class="btn btn-primary">Home</button></a>
      <a href="/dashboard"><button class="btn btn-primary">Dashboard</button></a>
      <a href="/upload"><button class="btn btn-primary">Upload</button></a>
      <button class="btn btn-primary" id="logout">Logout</button>

      {{else}}
      <a href="/"><button class="btn btn-primary">Home</button></a>
      <a href="/login"><button class="btn btn-primary">Login</button></a>
    </nav>
    {{/if}}
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>

  </footer>

  {{#if session.logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>