* {
    /* border: .1px solid black; */
}

.image-upload {
    /* display: inline-block; */
    max-height: 200px;
    max-width: 200px;
    width: auto;
    height: auto;
}

.ingredients-row {
    width: 100%;
    background-color: yellow;
}

.ingredients-row2 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#recipe-ingredients {
    width: 100%;
}

