* {
    /* border: .1px solid black; */
}

header,
footer {
    background-color: rgb(14, 49, 0);
    color: whitesmoke;
    height: 125px;
}

.headerLogo {
    text-decoration: none;
    color: whitesmoke;
}

.headerLogo:visited {
    color: whitesmoke;
}

.headerLogo:hover {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    min-height: 100vh;
}

/* -------------- Dashboard Page -------------- */

.recipeGroup {
    border: 1px solid black;

}

.recipe-header {
    display: flex;
    justify-content: space-between;
}

.caro-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}


#recipe-ingredients {
    width: 100%;
}

#instructions {
    background-color: rgb(152, 255, 241);
}

#title-description {
    background-color: rgb(255, 152, 212);
}

#instructions {
    background-color: rgb(152, 255, 233);
}

/* -------------- Ingredients Section -------------- */
#ingredients {
    background-color: rgb(204, 255, 168);
}

.list-group {
    list-style-position: inside;
    display: inline-block;
}

.list-group-item {
    display: list-item;
}

.ingredients-entry {
    display: flex;
    flex-direction: row;
}


.ingredients-row,
.instructions-row {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#recipe-images {
    background-color: rgb(255, 172, 168);
}

.instructions-input {
    margin: 0 auto;
    width: 100%;
}

footer {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    height: 100px;
    text-align: center;
}

/* -------------- Single Page Recipe -------------- */
.image-card {
    position: relative;
}

.image-delete-button {
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 10px;
    color: whitesmoke;
    font-size: 30px;
}

.title-header-info {
    display: flex;
    justify-content: space-between;
    background-color: rgb(157, 247, 255);
    padding: 5px;
}

.edit-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.edit-button, .save-button {
    padding: 5px;
}

.form-group-modal {
    display: flex;
    flex: column;
    align-items: center;
    margin: 5px;
    width: 100%;
}

.edit-area {
    width: 100%;
}

.modal-dialog, .modal-content {
    width: 700px;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
}

.ingredients-modal, .title-desc-modal, .instructions-modal {
    list-style: none;
}
