* {
    border: .1px solid black;
}

.image-upload {
    /* display: inline-block; */
    max-height: 200px;
    max-width: 200px;
    width: auto;
    height: auto;
}

.ingredients-row {
    width: 100%;
    background-color: yellow;
}

.ingredients-row2, .instructions-row {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#recipe-ingredients {
    width: 100%;
}

#instructions {
    background-color: olivedrab;
}

.instructions-input {
    margin: 0 auto;
    width: 100%;
}

